Errors -- stops the execution of program

# There are two types of errors

1.. syntex (syntactically wrong)
2 ..Exceptions (syntactically true but logically wrong)

Types of exceptions ....

1.. Type Error -- 
1. Unsupported Operation Between Two Types
2. Calling a non-callable Identifier
3. Incorrect type of List Index
4.  Iterating Through a non-iterative Identifier
5.   Passing an Argument of the Wrong Type to a Function
   
2 .. NameError--  This exception is raised when a variable or function name is not found in the current scope.

3..IndexError: This exception is raised when an index is out of range for a list, tuple, or other sequence types.

4 ..IOError: This exception is raised when an I/O operation, such as reading or writing a file, fails due to an input/output error.

5..ZeroDivisionError: This exception is raised when an attempt is made to divide a number by zero.

6 ..ImportError: This exception is raised when an import statement fails to find or load a module.

7..  Value Error :when an invalid value is assigned to a variable or passed to a function while calling it.or during unpacking it occurs

# syntax error

In [3]:
amount = 10000

if(amount>2000) 
	print("You are eligible to purchase Dsa Self Paced")

SyntaxError: expected ':' (3918173280.py, line 3)

In [4]:
# the above creating syntax error since according to python a colon should be there at a specified place

# Exceptions

In [9]:
a = 12
b= 2

print(a/b)

6.0

## Zero division error

In [10]:
a = 12
b = 0

print(a/b)

ZeroDivisionError: division by zero

#### Handle

In [17]:
def divide(a,b):
    try:
        print(a/b)
    except ZeroDivisionError:
        print('this will raise zero division error, since 0 is given')
    

divide(22,0)

this will raise zero division error, since 0 is given

## Type error

In [22]:


def small_letter(word):
    ls_lower = ''
    ls_upper = 2
    for i in word:
        if i.islower():
            ls_lower += i
        else:
            ls_upper += i

small_letter('hellOpyTHon')

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

#### Handle

In [27]:
def small_letter(word):
    ls_lower = ''
    ls_upper = 2

    for i in word:
        try:
            if i.islower():
                ls_lower += i
                print(ls_lower)
            else:
                ls_upper += i
        except TypeError:
            print('Type Error , operands have different datatype')


small_letter('hellOpyTHon')

h
he
hel
hell
Type Error , operands have different datatype
hellp
hellpy
Type Error , operands have different datatype
Type Error , operands have different datatype
hellpyo
hellpyon

##### Calling a non-callable Identifier

In [31]:
var_1 = 'hello geeks'
print(var_1())

TypeError: 'str' object is not callable

In [32]:

var_2= [1,2,3,0]
print(var_2())

TypeError: 'list' object is not callable

In [37]:
def identifier(word):
    try :
        word()
    except TypeError:
        print('Type Error')
        print('not callable')

identifier([33,44,'pyhton'])

Type Error
not callable

##### Passing an Argument of the Wrong Type to a Function

In [42]:
def func(num):
    return num **3
    
a = func(2)
print(a)

8

In [43]:
def func(num):
    return num **3
    
a = func('hi')
print(a)

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [45]:
def func(num):
    try:
        return num **3
    except TypeError:
        print('You have passed a wrong type argument to function')
        
a = func('hi')
print(a)

You have passed a wrong type argument to function
None

In [76]:
def func(*args):
    for arg in args:
        print( float(arg))

func(11,0.23,4,5,0.6)

11.0
0.23
4.0
5.0
0.6

In [77]:

def func(*args):
    for arg in args:
        a = arg**2
        yield a
    

generator = func(11, 'hi', 4, 5, 0.6)
print(next(generator))
print(next(generator))
print(next(generator))
print(next(generator))

121

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

## Value Errors

The isinstance function in Python is used to check if an object is an instance or subclass of a particular class or a tuple of classes. It returns True if the object is an instance of the class (or any class derived from it),
and False otherwise.

In [83]:
num = 42  # Replace this with the variable you want to check

if isinstance(num, int):
    print(f"{num} is an integer")
else:
    print(f"{num} is not an integer")

42 is an integer

In [84]:
num = 'hello'
print(int(num))

ValueError: invalid literal for int() with base 10: 'hello'

In [86]:
try:
    num = int("hello")
except ValueError as e:
    print(f"ValueError occurred: {e}")

ValueError occurred: invalid literal for int() with base 10: 'hello'

import error

“ImportError: Cannot Import Name.” This error occurs when the Python interpreter is unable to import a particular 
name or module within your code.