# loops

loops are used to execute block of code repeatedly either for a specified no. of times or untill condition is satisfied

two types of loops :

1 .. for loop  (run for a specified no. of times)

2 .. while loop (run until the condition is specified)

In [1]:
# while loop 

n = 1
while n < 11:
    print('the integer is : ',n ,'and ' ,'the square of int is :', n**2)
    n += 1

the integer is :  1 and  the square of int is : 1
the integer is :  2 and  the square of int is : 4
the integer is :  3 and  the square of int is : 9
the integer is :  4 and  the square of int is : 16
the integer is :  5 and  the square of int is : 25
the integer is :  6 and  the square of int is : 36
the integer is :  7 and  the square of int is : 49
the integer is :  8 and  the square of int is : 64
the integer is :  9 and  the square of int is : 81
the integer is :  10 and  the square of int is : 100

In [2]:
# write a program to accept 5 nums from user and display the largest and smallest no.

 
n = 1
ls = []
while n < 6:
    num = int(input('enter num '))
    ls.append(num)
    n += 1
    
print(ls)

print(max(ls))

enter num  2
enter num  3
enter num  4
enter num  644
enter num  5

[2, 3, 4, 644, 5]
644

In [4]:
# write a program to get the no. till user wants and at the end sum those
choose = 'y'
sum = 0

while choose == 'y':
    num = int(input('enter number'))
    sum = sum+num
    choose = input('do you want to continue')
print(sum)

enter number 4
do you want to continue y
enter number 5
do you want to continue n

9

FOR LOOP

In [5]:
n = 1
my_dict = dict()
while n < 4 :
    the_name = input('enter name')
    the_grade = float(input ('enter grade'))

    my_dict[the_name] = the_grade
    print(my_dict)
    n = n+1

    # print(my_dict)
max_grade = 0
max_grade_name = ''

for name, grade in my_dict.items():
    if grade > max_grade:
        max_grade = grade
        max_grade_name = name

print(f'the name with highest grade is {max_grade_name} with grade {max_grade}')

enter name virat
enter grade 90

{'virat': 90.0}

enter name rohit
enter grade 99

{'virat': 90.0, 'rohit': 99.0}

enter name hardik
enter grade 88

{'virat': 90.0, 'rohit': 99.0, 'hardik': 88.0}
the name with highest grade is rohit with grade 99.0

NESTED LOOPS

In [6]:
rows = 3
cols = 4
matrix = []

for i in range(rows):
    row = []
    for j in range(1, cols+1):
        row.append(j+1)
    matrix.append(row)
# print(matrix)
for i in matrix:
    print(i)

[2, 3, 4, 5]
[2, 3, 4, 5]
[2, 3, 4, 5]

pass (to perform nothing )

break( to break the loop iteration or terminate the loop)

continue(to skip a particular iteration)

In [8]:
string = 'hello python'

for i in string:
    print(i)
    if i == ' ':
        break

print()

h
e
l
l
o

In [9]:
container = ''
count = 0
for j in string:
    container = container+j
    if j == 'o':
        count = count+1
        
    if count == 2:
        break
print(container)

hello pytho

PASS STATEMENT

In [11]:
for i in range(11,15):
    if i%2 == 0:
        print(i)
    else:
        pass

12
14

In [12]:
# Create a multiplication table from 1 to 10, skipping multiples of 3

rows = 10
cols = 10
skip_multiple = 3

for i in range(1, rows + 1):
    for j in range(1, cols + 1):
        product = i * j
        if product % skip_multiple == 0:
            continue  # Skip printing multiples of 3
        print(f"{i} * {j} = {product}", end='\t')
    print()  # Newline after each row

1 * 1 = 1	1 * 2 = 2	1 * 4 = 4	1 * 5 = 5	1 * 7 = 7	1 * 8 = 8	1 * 10 = 10
2 * 1 = 2	2 * 2 = 4	2 * 4 = 8	2 * 5 = 10	2 * 7 = 14	2 * 8 = 16	2 * 10 = 20

4 * 1 = 4	4 * 2 = 8	4 * 4 = 16	4 * 5 = 20	4 * 7 = 28	4 * 8 = 32	4 * 10 = 40
5 * 1 = 5	5 * 2 = 10	5 * 4 = 20	5 * 5 = 25	5 * 7 = 35	5 * 8 = 40	5 * 10 = 50

7 * 1 = 7	7 * 2 = 14	7 * 4 = 28	7 * 5 = 35	7 * 7 = 49	7 * 8 = 56	7 * 10 = 70
8 * 1 = 8	8 * 2 = 16	8 * 4 = 32	8 * 5 = 40	8 * 7 = 56	8 * 8 = 64	8 * 10 = 80

10 * 1 = 10	10 * 2 = 20	10 * 4 = 40	10 * 5 = 50	10 * 7 = 70	10 * 8 = 80	10 * 10 = 100

NOTE ---------  else with loop

Python also allows us to use the else condition with for loops.

The else block just after for/while is executed only when the loop is NOT terminated by a break statement.

In [14]:
for i in range(1, 4): 
	print(i) 
else: # Executed because no break in for 
	print("No Break")

1
2
3
No Break